<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082481213297-chfmrbcfji29l2gvmkh0cd79ftem2aem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082481213297-chfmrbcfji29l2gvmkh0cd79ftem2aem</string>
	<key>API_KEY</key>
	<string>AIzaSyCYX2hK_7hzutB8lFNMSg_8t3RS-gPx8Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>1082481213297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chuckNorris</string>
	<key>PROJECT_ID</key>
	<string>chuck-norris-a7862</string>
	<key>STORAGE_BUCKET</key>
	<string>chuck-norris-a7862.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082481213297:ios:375369cfe0e0b9976780d0</string>
</dict>
</plist>